@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

blockquote {
    font-size: 1.1em;
    line-height: 1.6;
    position: relative;
    font-style: normal;
    content: none;
}
/* CD5D67 */
/* dd878e */
blockquote:hover {
    transition-delay: 50ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 600ms;
}

blockquote > p {
    font-style: normal;
    font-weight: 250;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1.6em 1.4em 1.6em 2.6em;
}

blockquote > p:first-of-type::before {
    content: none;
}

blockquote > p:first-of-type::after {
    content: none;
}

blockquote::before {
    content: "\201C";
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

blockquote::after {
    content: "";
}

.footnotes > ol {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.footnotes > ol > li {
    margin: -1rem 1.5rem;
}

.footnotes > ol > li > p > a {
    text-decoration: none;
}

/* 
[&>.footnotes>ol]:flex
[&>.footnotes>ol]:flex-wrap
[&>.footnotes>ol>li]:mx-6  
[&>.footnotes>ol>li]:-m-4 
dark:[&>.footnotes>ol]:bg-gray-700
             */

/* styles.css or your Tailwind CSS stylesheet */
.grid {
    /* max-width: 100%;/* Ensure the grid fits within the page */
    /* margin: auto; Center the grid horizontally */
}

.grid-cell {
    background-color: white; /* Set background color to white */
}
